*{
    margin: 0;
    padding: 0;
    font-family: 'Averia Serif Libre', serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(60, 37, 10, 0.694),rgba(60, 37, 10, 0.694)),
    url(banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #667a34;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after{
    width: 90%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.text-box h1{
    font-size: 48px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 19px;
    
}

/*-----O mne-----*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 36px;
    font-weight: 600;
    font-family:'Times New Roman',Times, serif;
    color: #000000;
}

p{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family:'Times New Roman', Times, serif ;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    color: whitesmoke;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}

.course-col{
    flex-basis: 31%;
    background: #73634f;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    height: 400px;
}

.columnobrazky{
    width: 25%;
    padding-top: 10%;
}

.sekcia{
    min-height: 100vh;
    width: 100%;
    padding-top: 80px;
    background-color:#73634f;
    
}

.nadpis{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}
----------------------------------------------------------------------------------------------

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: rgb(44, 44, 44);
}

  /* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    background-color: rgb(44, 44, 44);
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    }
}

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
}

.scroll{
    scroll-behavior: smooth;
}

.h2h2{
    color: white;
    text-align: center;
    font-size: 300%;
}

.p2{
    text-align: center;
    font-size: 150%;
    color: #fff;
}